#settings{
  font-size:24px;
  line-height: 90%;
  position: fixed;
  z-index:3;
  left: 10px;
  top: 50px;
}

.heading{
  width: 1800px;
  top:10px;
  margin: auto;
  text-align: center;
  position: fixed;
  pointer-events: none;
  background: transparent;
  z-index: 4;
}

#site-title{
  width: 100%;
  top: 10px;
  margin: auto;
  text-align: center;
  position: fixed;
  pointer-events: none;
  background: transparent;
  z-index: 4;
}

.icon-i{
   height: 16px;
   width: 16px;
   vertical-align: middle;
}

.title{
  font-size:50px;
  font-weight:700;
  color: black;
  margin-top: 300px;
}

.color-select{
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  border: none;
}

#title-state{
  color:hotpink;
  -webkit-text-stroke: 2.2px black;
}

#wrapper{

}

.legend-label{
  font-size: 26px;
  stroke: black;
  stroke-width: 0.6;
  font-weight: bold;
  alignment-baseline: middle;
}

.axis-label{
  font-size: 22px;
}

#info-2{
  margin-top: -7px;
  color:#ddd;
  font-size:24px;
  color:black;
}

#info-1{
  margin-top: -10px;
  font-size:24px;
  color:grey;
}

#info-2-stateB{
 color: hotpink;
 -webkit-text-stroke: 1px black;
}

.info-button{
  height: 16px;
  width: 16px;
  vertical-align: middle;
  pointer-events: all;
}

#legendy{
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

body{
  background: #ddd;
  font-family: 'Yantramanav', sans-serif;
  color: black;
  font-weight: bold;
}

.link{
  stroke-linecap: round;
  fill: transparent;
  pointer-events: visibleStroke;
  opacity: 0.5;
  /* pointer-events: none; */
}

.country{
  stroke: black;
  stroke-width: 0.5;
}

.cells path {
  fill: none;
  pointer-events: all;
}
.circle {
  fill: "green";
}

.axis{
  font-size: 13px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  all: initial;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
